$(function() {

    //this flag will be used to know if the player performed any step after timeout
    var timeout = false;
    var clock = $('.mytimer').FlipClock({
        clockFace: 'MinuteCounter',
        countdown:true,
        stop: function() {
            if(!timeout){
                alert("time over");
                timeout = true;
                sendTimeoutMessage();
            }
        }
    });

    //This function should be called whenever each player gets his/her turn
    var startTimer = function(){
        clock.setTime(10);
        clock.start();
    }

    startTimer();

    var sendTimeoutMessage = function(){
        var data = JSON.stringify({"gameid": gameid, "type": "Timeout", "player": {"username": username}});
        socket.send(data);
    }

    var username = $('#username').val();
    var gameid = $('#gameid').val();
    // get websocket class, firefox has a different way to get it
    var WS = window['MozWebSocket'] ? window['MozWebSocket'] : WebSocket;

    // open socket on page load
    var socket = new WS('@routes.Application.wsInterface().webSocketURL(request)');

    //this list will be used to append joining players
    var userList = $('#list-active-players');

    var writeMessages = function (event) {
    var model = event.data;

    //model is not coming as Json so have to use this jquery json parser
    model = jQuery.parseJSON(model);

    if (model.type == "joined") {
        var users = model.joinedUsers;
        $('#list-active-players').html("");
        $('#list-active-players').append('<b>' + username + ' (you)' + '</b><br/>');
        for (i = 0; i < users.length; i++) {
            if (users[i] != username && !users[i].indexOf(username)>=0) {
                $('#list-active-players').append('<b>' + users[i] + '</b><br/>');
                }
            }
        }

        else if (model.type == "leaving") {
            var users = model.joinedUsers;
            var leavinguser = model.leavingUser;

            var listItemToBeRemoved = $(userList).find('#' + leavinguser).remove();
        }

        else if (model.type == "redirect") {

           $('#frmHidden').submit();

        }

        else if (model.type == "UpdateActivityLog") {
            var stepName = model.stepName,
                playerName = model.player;

                var activityLog = $('#activity-log');

                var txt = playerName + " performed step: " + stepName;

                activityLog.prepend('<p>' + txt + '</p><br/>')
        }//UpdateActivtyLog

        else if (model.type == "Timeout") {
            var playerName = model.player;

            var activityLog = $('#activity-log');

            var txt = playerName + " missed their turn due to timeout!";

            activityLog.prepend('<p>' + txt + '</p><br/>')
        }//Timeout

        else {
            var name = model.name;
            $('#lblCount').text(count);
            $('#divJoined').prepend('<p>' + name + '</p>');

        }
    }

    var publishMyPresence = function (event) {
        //push to socket on first page load of any user

        var gameid = $('#gameid').val();
        var data = JSON.stringify({"gameid":gameid, "type": "joined", "player": {"name": "someuser", "team": "somecode"}});
        socket.send(data);
    }

    //read message from socket
    socket.onmessage = writeMessages;

    //without this I am getting exception that CONNECTION NOT ESTABLISHED
    socket.onopen = publishMyPresence;


    $('#btnJoin').click(function (event) {

        var name = $('#txtName').val();
        var code = $('#txtCode').val();


        var data = JSON.stringify({"name": name, "team": code});

        //push to socket
        socket.send(data);

        $('#txtName').val('');
        $('#txtCode').val('');

        $('#txtName').attr('hidden', true);
        $('#txtCode').attr('hidden', true);
        $('#divPlayerStatus').attr('hidden', false);
        $('#btnLeave').attr('hidden', false);
        $('#btnJoin').attr('hidden', true);
    });


    //Event handler for start game event
    $('#btnStart').click(function(e){

        var username = $('#username').val();
        var data = JSON.stringify({"gameid": gameid, "type": "StartGame", "player": {"username": username}});
        socket.send(data);
    });

    //Perform step button event handler
    $('.perform-step').on("click", function(){

        var     topModal = $(this).closest('div.modal'),
                parentModal = topModal.find('div.modal-content'),
                header = parentModal.find('div.modal-header'),
                title = header.find('.modal-title').html();

        //this will hide the modal
        topModal.modal('toggle');

        updateActivityLogs(title);

    });

    var updateActivityLogs = function (title) {
        var data = JSON.stringify({"gameid": gameid, "stepName":title, "type": "PerformStep", "player": {"username": username}});
        socket.send(data);
    }

    $('#btnLeave').click(function (e) {

        var data = JSON.stringify({"type": "leaving", "player": {"username": username}});
        socket.send(data);

        //ajax call to logout of session
        // @*$.ajax({*@
        //     @*type: "POST",*@
        //     @*url: '/leave',*@
        //     @*data: JSON.stringify({username:username}),*@
        //     @*success: function(data){},*@
        //     @*contentType: 'application/json',*@
        //     @*dataType: 'json'*@
        // @*});*@

        $.ajax({
            type: "GET",
            url: '/leave',
            data: {'username': username},
            success:function(data)
            {
                window.location.replace("/");
            }

        });
    });
});