@(parameters:List[String])
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project Steps</title>
        <link rel="shortcut icon" href="">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" hredef="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/demo.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/animate-custom.css")" />
    </head>

    <input type="hidden" id="gameid" name="gameid" value='@parameters.get(1)'>

    <script type="text/javascript">
        $(function(){

            var gameid = $('#gameid').val();
            var obj = {'gameid': gameid};
            $('#btnShow').on('click', function(){
                $.ajax({
                    type: 'POST',
                    url: '@routes.GameController.getSnapshotDetails()',
                    data: JSON.stringify(obj),
                    contentType: 'application/json',
                    success: function (data) {



                        if(data.length>0){
                            var container = $('#container-image-list');
                            container.html("");
                            for(i=0;i<data.length;i++){
                                var ul = "<ul id='" + data[i].name + "'>";
                                ul += "<li><b>" + data[i].name + "</b></li><br>"
                                for(j=0;j<data[i].images.length;j++){
                                    var stepNum = data[i].images[j].split(".")[0];
                                    ul += "<li data-image='" + data[i].images[j] +"'><a href='#'>" + "Step " + stepNum + "</a></li>";
                                }
                                ul += "</ul>";
                                container.append(ul);
                                container.append("<br><br>");
                            }
                        }
                    }
                });

            });

            $('#container-image-list').on('click', 'a', function(){
                alert("clicked");
                var gameid = $('#gameid').val(),
                        playerid = $(this).closest('ul').attr('id'),
                        image = $(this).closest('li').attr('data-image');

                var path = "images/" + gameid + "/" + playerid + "/" + image;
                alert(path);

                var url = "/assets/" + path;

//              alert(url);
                $("#imgContainer").html("<img src='" + url + "' alt='turn capture'/>");

            });
        });

    </script>
    <body style="background-image: url(@routes.Assets.at("images/bg.jpg"));" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <button id="btnShow">Show All</button>
                <div>
                    <div class="panel-body" id="panel">Available Snapshots</div>
                    <div id="container-image-list">
                    </div>
                </div>
		        </div>
                <div class="col-md-10" id="imgContainer" style="height:200px">

                </div>
		</div>
        </div>
    </body>
</html>

